@charset "utf-8";

/* =================== Futura =================== */

@font-face {
    font-family: 'FuturaBookC';
    src: url('fonts/Futura/FuturaBookC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaDemiCTT';
    src: url('fonts/Futura/FuturaDemiCTT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('fonts/Futura/FuturaMediumC.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* =================== Futura =================== */